In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Data getting, cleaning, and exploring
import wrangle as w

# Python without these is hard
import pandas as pd
import numpy as np
from pydataset import data

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import graphviz
from graphviz import Graph

In [2]:
# df = w.get_telco_data()

In [3]:
# df.contract_type.unique()

In [4]:
# features = ['customer_id', 'monthly_charges', 'tenure', 'total_charges']
# df = df[df.contract_type_id == 3]

In [5]:
# df = df[features]

In [12]:
df = w.wrangle_telco(filter=3)

In [27]:
df.shape

(1695, 4)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695 entries, 1793 to 7042
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1695 non-null   object
 1   monthly_charges  1695 non-null   float64
 2   tenure           1695 non-null   int64
 3   total_charges    1695 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 66.2+ KB

In [28]:
df.nunique()

customer_id        1695
monthly_charges     820
tenure               73
total_charges      1678
dtype: int64

In [20]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
monthly_charges,1695.0,60.770413,34.678865,18.4,24.025,64.35,90.45,118.75
tenure,1695.0,56.735103,18.209363,0.0,48.000,64.00,71.00,72.00
total_charges,1695.0,3706.934336,2579.517834,0.0,1269.675,3593.80,5988.80,8672.45

In [15]:
train, validate, test = w.train_validate_test_split(df, seed=42)

In [29]:
train.shape, validate.shape, test.shape

((949, 4), (407, 4), (339, 4))