In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Data getting, cleaning, and exploring
import wrangle as w

# Python without these is hard
import pandas as pd
import numpy as np
from pydataset import data

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn.metrics import confusion_matrix

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import graphviz
from graphviz import Graph

In [2]:
w.get_zillow_data()

,parcelid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id,logerror,transactiondate
0,11393337,2463969,NaN,NaN,NaN,3.0,3.0,NaN,4.0,3.0,...,43439.0,2016.0,22755.0,756.94,Y,14.0,6.037235e+13,117,0.086137,2017-06-08
1,11289917,2061546,1.0,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,136104.0,2016.0,27214.0,2319.90,Y,15.0,6.037901e+13,1248,-0.362001,2017-06-23
2,11705026,1834372,NaN,NaN,NaN,1.0,2.0,NaN,6.0,1.0,...,35606.0,2016.0,23624.0,543.69,None,NaN,6.037232e+13,1772,-0.146056,2017-06-30
3,14269464,1923117,NaN,NaN,NaN,3.0,4.0,NaN,NaN,3.0,...,880456.0,2016.0,445569.0,9819.72,None,NaN,6.059064e+13,2028,0.021085,2017-06-01
4,11389003,2121349,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,614000.0,2016.0,449000.0,7673.19,None,NaN,6.037703e+13,3273,-0.325393,2017-06-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21939,14214719,444575,NaN,NaN,NaN,3.0,5.0,NaN,NaN,3.0,...,746963.0,2016.0,407513.0,8065.50,None,NaN,6.059076e+13,53500,-0.017898,2017-06-30
21940,11464823,1480299,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,579047.0,2016.0,317974.0,6996.21,None,NaN,6.037278e+13,53501,0.136624,2017-06-30
21941,11534364,1092708,NaN,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,630933.0,2016.0,435128.0,7587.79,None,NaN,6.037275e+13,53502,-0.031730,2017-06-30
21942,12942897,2678821,1.0,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,337683.0,2016.0,101564.0,3893.77,None,NaN,6.037407e+13,53503,-0.038389,2017-06-30
21943,13083743,2455685,NaN,NaN,NaN,2.0,3.0,NaN,4.0,2.0,...,259334.0,2016.0,182216.0,3345.78,None,NaN,6.037408e+13,77613,-0.197755,2018-05-25

In [3]:
df = w.get_zillow_data(cached=True)

In [15]:
df.isnull().sum().sort_values(ascending=False)

buildingclasstypeid             21940
basementsqft                    21932
finishedsquarefeet13            21932
storytypeid                     21932
yardbuildingsqft26              21921
fireplaceflag                   21901
architecturalstyletypeid        21895
typeconstructiontypeid          21893
finishedsquarefeet6             21834
pooltypeid10                    21806
decktypeid                      21765
poolsizesum                     21675
pooltypeid2                     21602
hashottuborspa                  21464
yardbuildingsqft17              21220
taxdelinquencyflag              21203
taxdelinquencyyear              21203
finishedsquarefeet15            21134
finishedfloor1squarefeet        20179
finishedsquarefeet50            20179
fireplacecnt                    19512
threequarterbathnbr             18986
pooltypeid7                     17631
poolcnt                         17286
numberofstories                 16898
airconditioningtypeid           14856
garagecarcnt                    14576
garagetotalsqft                 14576
regionidneighborhood            13138
heatingorsystemtypeid            8055
buildingqualitytypeid            7995
propertyzoningdesc               7797
unitcnt                          7748
lotsizesquarefeet                2302
finishedsquarefeet12              993
regionidcity                      403
calculatedbathnbr                 182
fullbathcnt                       182
yearbuilt                          87
censustractandblock                87
calculatedfinishedsquarefeet       61
structuretaxvaluedollarcnt         42
regionidzip                        20
taxamount                           7
fips                                6
roomcnt                             6
longitude                           6
regionidcounty                      6
rawcensustractandblock              6
propertylandusetypeid               6
landtaxvaluedollarcnt               6
assessmentyear                      6
propertycountylandusecode           6
latitude                            6
bedroomcnt                          6
bathroomcnt                         6
taxvaluedollarcnt                   6
id                                  0
transactiondate                     0
logerror                            0
id.1                                0
parcelid                            0
dtype: int64