In [3]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Data getting, cleaning, and exploring
import wrangle as w

# Python without these is hard
import pandas as pd
import numpy as np
from pydataset import data

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn.metrics import confusion_matrix

# Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import graphviz
from graphviz import Graph

In [4]:
w.get_zillow_data()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,parcelid,logerror,transactiondate
0,117,12996547,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,...,527930.0,2016.0,345185.0,7974.59,None,NaN,NaN,11393337,0.086137,2017-06-08
1,625,17135433,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,418763.0,2016.0,167504.0,4464.42,None,NaN,6.111006e+13,14634203,-0.061973,2017-08-04
2,1018,17241803,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,478430.0,2016.0,185875.0,5515.94,None,NaN,6.111008e+13,11721753,0.017785,2017-07-21
3,1248,17305333,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,27400.0,2016.0,NaN,212.46,None,NaN,6.111002e+13,11289917,-0.362001,2017-06-23
4,1734,10828787,1.0,NaN,NaN,2.0,2.0,NaN,8.0,2.0,...,171687.0,2016.0,73237.0,2287.55,None,NaN,6.037127e+13,11637029,-0.093399,2017-07-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41365,72842,14688645,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,119181.0,2016.0,45929.0,1592.32,None,NaN,6.059074e+13,11570288,-0.003178,2017-08-31
41366,72843,14688745,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,260000.0,2016.0,194663.0,3243.04,None,NaN,6.059074e+13,11128688,0.024946,2017-08-31
41367,72844,14689485,NaN,NaN,NaN,2.0,2.0,NaN,NaN,2.0,...,337885.0,2016.0,209923.0,3816.12,None,NaN,6.059063e+13,10713993,0.009798,2017-08-31
41368,72845,14689685,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,131295.0,2016.0,55506.0,1770.58,None,NaN,6.059099e+13,14087565,0.019346,2017-08-31
41369,77613,11213262,1.0,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,130296.0,2016.0,26057.0,2470.35,Y,10.0,6.037911e+13,13083743,-0.197755,2018-05-25

In [5]:
df = w.get_zillow_data(cached=True)